html {
    background-color: #fff;
    font-size: 16px;
    min-width: 300px;
    overflow-x: hidden;
    overflow-y: scroll;
  
    /* these are specific to different browsers */
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-size-adjust: 100%;
    height: 100%;
  }
  
  body {
    margin: 0;
    padding: 0;
  
    font-family: ‘Segoe UI’, Candara, ‘Bitstream Vera Sans’, ‘DejaVu Sans’, ‘Bitsream Vera Sans’, ‘Trebuchet MS’, Verdana, ‘Verdana Ref’, sans-serif;
    font-weight: 400;
    line-height: 1.5;
    height: 100%;
    background-image: url("background.jpg");
    background-size: cover;
  }
  
  
  a {
    display: inline-block;
    text-decoration: none;
  }
  
  h2, h3 {
    margin:0;
    padding:0;
    padding-bottom:1.5rem;
    color: #ffffff;
  }
  
  form {
    accent-color: hsla(120, 100%, 50%, 0.482);
  }
  .header {
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1.5rem;
  }
  
  .header-link {
    float: right;
  }
  
  .header h1 {
    display: block;
    /* this will push other blocks out of the way */
  
    /* colors */
    background-color: #0E0004;
    color: #ffffff;
  
    /* shapes */
    border-radius: 6px;
    font-size: 1.5rem;
    padding: 1.25rem;
    margin:0; /* removing the margin on h1 tags means the header pins to the top if we move */
  
  
    /* box-shadows are fancy */
    box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%), 0 0 0 1px rgb(10 10 10 / 2%);
  }
  
  footer {
    flex-shrink: 0;
    padding: 1rem;
    background-color: rgba(14, 0, 4, 0.8);
    font-size: 1.2rem;
    font-weight: 600;
  }
  
  .footer a {
    color: rgb(255, 255, 255);
    text-decoration: underline;
  }
  
  .footer a:hover {
    /* Hue, saturation, luminosity, alpha */
    background-color: hsla(335, 100%, 49%, 0.15);
    /* red, green, blue, alpha */
    color: rgb(150, 3, 40);
    text-decoration: none;
  }
  
  .subtitle {
    color: rgba(131, 37, 9, 0.8);
    margin: 0px;
    margin-bottom: 5px;
  }
  
  @media only screen and (max-width: 736px){
    /* Rules in here will only apply when a screen is the correct size */
    /* check it out by using your developer tools to shrink your screen-size */
    .container {
      background-color: rgba(7, 153, 119, 0.65);
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .box {
      border: 2px solid;
      border-radius: 4px;
      width: 90%;
      height: fit-content;
      padding: 1.5rem;
      margin: 10px auto;
    }

    .right_section {
      background-color: rgba(107, 15, 26, 0.8);
      flex: 1 2 auto;
      margin: 1rem;
      align-items: flex-start;
      justify-content: flex-start;
      display: flex;
      flex-flow: column;
    }
}